{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Luxora | Login</title>

    <link rel="stylesheet" href="{% static "style/login.css" %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<!-- Top Bar -->
<div class="top-bar">
    <span>
        <i class="fa-solid fa-truck"></i>
        Free Shipping on Orders Above ₹999
    </span>

    <span>
        <i class="fa-solid fa-percent"></i>
        Get 20% OFF on Your First Order
    </span>

    <span>
        <i class="fa-solid fa-headset"></i>
        24/7 Customer Support
    </span>
</div>


<!-- Header -->
<header>

    <div class="logo">

        <div class="logo-icon">
            <i class="fa-solid fa-bag-shopping"></i>
        </div>

        <span>Luxora</span>

    </div>


    <nav>

        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="categories.html">Categories</a>
        <a href="offers.html">Offers</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>

    </nav>


    <div class="header-icons">

        <i class="fa-solid fa-magnifying-glass"></i>

        <a href="wishlist.html">
            <i class="fa-regular fa-heart"></i>
        </a>

        <i class="fa-solid fa-cart-shopping"></i>

        <i class="fa-solid fa-user active-icon"></i>

    </div>

</header>


<!-- Login Section -->

<section class="login-section">

    <div class="login-container">


        <!-- Left Side -->

        <div class="login-welcome">

            <div class="welcome-icon">
                <i class="fa-solid fa-bag-shopping"></i>
            </div>

            <h1>Welcome to <span>Luxora</span></h1>

            <p>
                Your premium shopping destination for fashion,
                electronics, accessories and lifestyle products.
            </p>


            <div class="benefits">

                <div class="benefit">
                    <i class="fa-solid fa-shield-halved"></i>

                    <div>
                        <h3>Secure Shopping</h3>
                        <p>Your account